.thumbnail {
  height: 450px;
}

@media (min-width: 1200px) {
  .thumbnail {
    height: 400px;
    /*max-height: 150px;*/
  }
}

.card-height {
  min-height: 50px;
  /*max-height: 150px;*/
}

.list-group-image {
  min-height: 250px;
  /*max-height: 150px;*/
}