.view-content {
	padding-top: 60px;
}

.navbar {
	background-image: none !important;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -180px;
	padding-bottom: 180px;
}

footer {
	height: 180px;
	background-color: #1a1a1a;
	padding-top: 15px;
	padding-left: 15px;
}

img.language {
	cursor:pointer;
}

.pagination li {
	cursor:pointer;
}

.align-center {
	text-align: center;
}

.row-buttons {
	padding-bottom: 20px;
}

.button-margin {
	padding-right: 1em;
}

@media (min-width: 400px) and (max-width: 500px) {
    .group list-group-image {
        height: 100px;
    }
}
.item col-xs-12 col-md-4 col-lg-2{
	height: 300px;
}



