<div class="row">
  <div class="col-xs-12 col-md-12">
    <h1 align="center">{{ 'homePage.welcome' | translate }}</h1>
  </div>
</div>

<div class="row">
  <div ng-show="collaborativeRecommender.length">
    <h3>{{ 'homePage.recommender.collaborative' | translate }}</h3>
    <div class="container">
      <div id="products" class="row list-group">
        <div class="item col-xs-12 col-sm-6 col-md-6 col-lg-2" ng-repeat="item in collaborativeRecommender">
          <div class="thumbnail">
            <img class="group list-group-image card-img" src="{{item.imUrl}}"
                 alt="{{item.title}}" height="250px"/>
            <div class="caption">
              <div class="card-height">
                <h5 class="group inner list-group-item-heading"><strong>
                  &nbsp;{{item.title }}</strong></h5>
                <div>
                  <div>
                    <p>&nbsp;{{item.brand}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 col-md-6" ng-controller="LoginController"
                     ng-show="isLoggedIn && authority=='USER'">
                  <a class="btn btn-info" ng-click="doAddItem(item.id)"
                     ng-controller="ShoppingCartController" data-toggle="modal"
                     data-target="#shoppingCartModal"><span
                      class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
                <div class="col-xs-2 col-md-6">
                  <a class="btn btn-success" href="#/item/display?itemId={{item.id}}">{{ 'item.view'
                    | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ng-show="bestSellers.length">
    <h3>{{ 'homePage.recommender.bestSellers' | translate }}</h3>
    <div class="container">
      <div id="products" class="row list-group">
        <div class="item col-xs-12 col-sm-6 col-md-6 col-lg-2" ng-repeat="item in bestSellers">
          <div class="thumbnail">
            <img class="group list-group-image card-img" src="{{item.item_imUrl}}"
                 alt="{{item.item_title}}" height="250px"/>
            <div class="caption">
              <div class="card-height">
                <h5 class="group inner list-group-item-heading"><strong>
                  &nbsp;{{item.item_title }}</strong></h5>
                <div>
                  <div>
                    <p>&nbsp;{{item.item_brand}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-2 col-md-6" ng-controller="LoginController"
                     ng-show="isLoggedIn && authority=='USER'">
                  <a class="btn btn-info" ng-click="doAddItem(item.item_id)"
                     ng-controller="ShoppingCartController" data-toggle="modal"
                     data-target="#shoppingCartModal"><span
                      class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
                <div class="col-xs-2 col-md-6">
                  <a class="btn btn-success" href="#/item/display?itemId={{item.item_id}}">{{
                    'item.view' | translate }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ng-show="bestSellers.length">
    <h3>{{ 'homePage.recommender.customersFavourites' | translate }}</h3>
    <div class="container">
      <div id="products" class="row list-group">
        <div class="item col-xs-12 col-sm-6 col-md-6 col-lg-2" ng-repeat="item in bestRated">
          <div class="thumbnail">
            <img class="group list-group-image card-img" src="{{item.item_imUrl}}"
                 alt="{{item.item_title}}" height="250px"/>
            <div class="caption">
              <div class="card-height">
                <h5 class="group inner list-group-item-heading"><strong>&nbsp;
                  {{item.item_title }}</strong></h5>
                <div>
                  <div>
                    <p>&nbsp;{{item.item_brand}}</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-2 col-md-6" ng-controller="LoginController"
                   ng-show="isLoggedIn && authority=='USER'">
                <a class="btn btn-info" ng-click="doAddItem(item.item_id)"
                   ng-controller="ShoppingCartController" data-toggle="modal"
                   data-target="#shoppingCartModal"><span
                    class="glyphicon glyphicon-shopping-cart"></span></a>
              </div>
              <div class="col-xs-2 col-md-6">
                <a class="btn btn-success" href="#/item/display?itemId={{item.item_id}}">{{
                  'item.view' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="css/homePage.css" rel="stylesheet">

		