
<form novalidate class="simple-form" name="itemForm">
	<div class="form-group">
		<label for="title">{{ 'item.title' | translate }}</label> <input
			type="text" class="form-control" name="title"
			placeholder="{{ 'item.title' | translate }}" ng-model="item.title">
	</div>
	<div class="form-group">
		<label for="description">{{ 'item.description' | translate }}</label>
		<input type="text" class="form-control" name="description"
			placeholder="{{ 'item.description' | translate }}"
			ng-model="item.description">
	</div>
	<div class="form-group">
		<label for="brand">{{ 'item.brand' | translate }}</label> <input
			type="text" class="form-control" name="brand"
			placeholder="{{ 'item.brand' | translate }}" ng-model="item.brand">
	</div>
	<div class="form-group">
		<label for="price">{{ 'item.price' | translate }}</label> <input
			type="text" class="form-control" name="price"
			placeholder="{{ 'item.price' | translate }}" ng-model="item.price">
	</div>
	<div class="form-group">
		<label for="imUrl">{{ 'item.imUrl' | translate }}</label> <input
			type="text" class="form-control" name="price"
			placeholder="{{ 'item.imUrl' | translate }}" ng-model="item.imUrl">
	</div>
	<div class="form-group">
		<select multiple ng-multiple="true" ng-model="item.categories"
			ng-options="category.name for category in categories"></select>
	</div>

	<div class="form-group">
		<input type="hidden" id="itemId" ng-model="item.id" /> <input
			type="hidden" id="itemVersion" ng-model="item.version" /> <input
			type="button" class="btn btn-default" ng-click="reset()"
			value="{{ 'item.reset' | translate }}" /><input type="button"
			class="btn btn-default" ng-click="doDeleteItem(item.id, item.version)"
			value="{{ 'item.delete' | translate }}" /><input type="submit"
			class="btn btn-default" ng-click="doSubmit()"
			value="{{ 'item.submit' | translate }}" />

	</div>
</form>

<div class="alert alert-danger alert-dismissable" ng-show="error">
	<a class="close" data-dismiss="alert" aria-label="close"
		ng-click="error = false">&times;</a> <strong>{{ 'index.oops'
		| translate }}</strong> {{ 'index.error' | translate }}.
</div>