<div class="row">

		<div class="thumbnail">
			<img class="img-responsive" src="{{item.imUrl}}" alt="{{item.brand}}">
			<div class="caption-full">
				<h4 class="pull-right">${{item.price}}</h4>
				<h4><a href="#">{{item.title}}</a>
				</h4>
				<p>{{item.description}}</p>
			</div>
		</div>

		<div class="well">

			<div class="text-right">
				<a class="btn btn-success">{{ 'item.review' | translate }}</a>
			</div>

			<hr>

			<div class="row" ng-repeat="review in reviews">
				<div class="col-md-12">
					<h3>{{review.summary}}</h3>
					<i class="material-icons">grade</i> {{review.overall}}/5
					<br>
					<i class="material-icons">thumb_up</i> {{review.helpful}}
					<br>
					<i class="material-icons">thumb_down</i> {{review.unhelpful}}
					<br>
					<strong>{{review.customer.name}}</strong>
					<span class="pull-right">{{review.date | date:'yyyy-MM-dd'}}</span>
					<p>{{review.reviewText}}</p>
				</div>

				<hr>
			</div>
		</div>

</div>


